build/
bin/
out/
cmake-build-*/
.cache/

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
CTestTestfile.cmake

shaders/*.spv
shaders/*.bin
shaders/**/compiled/

logs/
*.log

*.o
*.obj
*.lo
*.slo
*.a
*.lib
*.so
*.dll
*.dylib
*.gch
*.pch
*.exe
*.out
*.app
*.wasm
*.luac
*.json.tmp

.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

*.swp
*.swo
.fuse_hidden*
.directory
Trash/

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.history/
.vscode-ipch/

.idea/
*.iml

docs/html/
docs/build/

*.dmp
*.stackdump

*.prof
*.perf

